<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ossjk.ossjkssm.system.mapper.RoleMapper">
	<resultMap id="BaseResultMap" type="com.ossjk.ossjkssm.system.entity.Role">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="remarks" property="remarks" jdbcType="VARCHAR" />
		<result column="crtm" property="crtm" jdbcType="TIMESTAMP" />
		<result column="mdtm" property="mdtm" jdbcType="TIMESTAMP" />
	</resultMap>

     <insert id="insert" parameterType="com.ossjk.ossjkssm.system.entity.Role">
		insert into role (id, name, remarks, crtm, mdtm)
		values (#{id,jdbcType=INTEGER},#{name,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR},
		 #{crtm,jdbcType=TIMESTAMP}, #{mdtm,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="com.ossjk.ossjkssm.system.entity.Role">
		insert into role
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="remarks != null">
				remarks,
			</if>
			<if test="crtm != null">
				crtm,
			</if>
			<if test="mdtm != null">
				mdtm,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="remarks != null">
				#{remarks,jdbcType=VARCHAR},
			</if>
			<if test="crtm != null">
				#{crtm,jdbcType=TIMESTAMP},
			</if>
			<if test="mdtm != null">
				#{mdtm,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<sql id="Base_Column_List">
		id,name, remarks, crtm, mdtm
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from role
		where id = #{id,jdbcType=INTEGER}
	</select>
	
	<update id="updateByPrimaryKeySelective" parameterType="com.ossjk.ossjkssm.system.entity.Role">
		update role
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="remarks != null">
				remarks = #{remarks,jdbcType=VARCHAR},
			</if>
			<if test="crtm != null">
				crtm = #{crtm,jdbcType=TIMESTAMP},
			</if>
			<if test="mdtm != null">
				mdtm = #{mdtm,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	  <update id="updateByPrimaryKey" parameterType="com.ossjk.ossjkssm.system.entity.Role">
		update role set
		name = #{name,jdbcType=VARCHAR},
		remarks = #{remarks,jdbcType=VARCHAR},
		crtm = #{crtm,jdbcType=TIMESTAMP},
		mdtm = #{mdtm,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=INTEGER}
	 </update>
    <!--  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
       select * from role where id = #{id}
    </selec --> 

     <select id="selectAll" resultType="com.ossjk.ossjkssm.system.entity.Role">
        select * from role r 
     </select>

      <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from role where id = #{id,jdbcType=INTEGER}
	</delete>

     <!-- 批量删除 -->
	 <delete id="batchDelete">
		delete from role where id in
		<foreach collection="array" item="id" index="no" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>





</mapper>